body {
  width: 1140px;
  margin: 0 auto;
}

.test-app {
  text-align: center;
  font-size: 36px;
  line-height: 42px;
  padding-top: 15px;
  margin-bottom: 30px;
}

.photos {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}

.picture {
  padding: 20px 10px;
  width: 300px;
}

.footer {
  justify-content: center;
  width: 940px;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
}

.line {
  border-top: 1px solid gray;
  width: 100%;
  margin: 0 auto;


}

.line p {
  font-size: 14px;
  line-height: 16px;
  color: #CCCCCC;

}

.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;

}

.modal_content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  width: 50vw;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal_content.active {
  transform: scale(1);
}


.pic-form {
  margin-left: 30px;
  margin-top: 30px;
}

.pict {
  width: 550px;
}

.pict img {
  width: 100%;
}

.name {
  width: 550px;
  margin-bottom: 20px;
  margin-top: 29px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 11px;
  box-sizing: border-box;
}

.comment {
  width: 550px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 11px;
  box-sizing: border-box;
}

.btn {
  width: 550px;
  background-color:  #4997D0;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 7px;
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  body{
    width: 360px;
  }

  .photos{
    justify-content: center;
  }

  .footer{
    width: 300px;
  }


  .modal{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }
  .modal_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 100vw;
    height: 100vw;
    transform: scale(0.5);
    transition: 0.4s all;
  }

  .modal_content.active {
    padding-top: 0px;
    padding-bottom: 100px;
  }

  .pic-form {
    margin: auto;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
  }

  .pict {
    width: 360px;
    padding: 0;
  }

  .pict img {
    width: 100%;
  }

  form {
    width: 300px;
    justify-content: center;

  }

  .name {
    width: 300px;
    box-sizing: border-box;
  }

  .comment {
    width: 300px;
    box-sizing: border-box;

  }

  .btn {
    width: 300px;

  }

}